*{
    box-sizing: border-box;
    margin:0;
}
header{
    padding: 10px 15px;
}

.img-logo{
    background-size: 70px;
}

.text-logo{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display:inline-block;
    position: absolute;
}



